* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #ceb696;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
  cursor:pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days a {
  list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    min-height: 40px;
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100px;
}
.days a :hover{
  padding: 5px;
  background: #ceb696;
  color: white !important
}

/* Highlight the "current" day */
.days a:active {
  padding: 5px;
  background: #ceb696;
  color: white !important;
  cursor: default;

  
}

.days a:hover {
  padding: 5px;
  background: #ceb696;
  color: white !important
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}
h1{
  font-family: "Verdana", "sans-serif";
}

/* Full-width inputs */
input[type=date], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#empBckGrnd{
	background: #ceb696
}
#empBtn{
  background-color: white;
  border: none;
  color: #ceb696;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height:50px;
  width:250;
}
#empHomeBtn{
  background-color: #ceb696;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height:75px;
  width:300px;
}
#volunteerbtn{
  background-color: #FFFFFF;
  border: none;
  color: #ceb696;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height:75px;
  width:300px;
}
#empHomeBtnDiv{
	text-align: center;
}

/* Set a style for all buttons */
button {
  background-color: #ceb696;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}
#volunteer {
    text-align: center;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
/* Modal Content */
.popup-Event {
  background-color: #ceb696;
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  min-height: 120px;
}

.popupButton{
  background-color: #1c2128;
  border-color: black;
}
.popupButton:hover{
  background-color: #14181d;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
